firstweek/.idea/compiler.xml
firstweek/.idea/copyright/profiles_settings.xml
firstweek/.idea/description.html
firstweek/.idea/encodings.xml
firstweek/.idea/misc.xml
firstweek/.idea/modules.xml
firstweek/.idea/scopes/scope_settings.xml
firstweek/.idea/uiDesigner.xml
firstweek/.idea/vcs.xml
firstweek/.idea/workspace.xml
firstweek/firstweek.iml
firstweek/out/production/firstweek/Main.class
firstweek/out/production/firstweek/IntegerArray.txt